<div class="header">
    <h1>Add Guest</h1>
    <a class="headerlink" href="#/events/{{eventId}}/guests">back to Guests</a>
</div>

<label for="name">Name:</label><br>
<input ng-model="guest.name" type="text" id="name"></br>
<label  for="contribution">Contribution:</label><br>
<input  ng-model="guest.contribution" type="text" id="contribution"></br>
<label  for="comment">Comment:</label><br>
<input  ng-model="guest.comment" type="text" id="comment"></br>
<br>
<button type="button" ng-click="addGuest()">Create new Guest</button>