<div class="header">
    <h1>Edit Guest - {{guest.name}}</h1>
    <a class="headerlink" href="#/events/{{eventId}}/guests">back to guest list</a>
</div>


<label for="name">Name</label>
<input ng-model="guest.name" type="text" id="name"></br>
<label  for="contribution">Contribution</label>
<input  ng-model="guest.contribution" type="text" id="contribution"></br>
<label  for="comment">Comment</label>
<input  ng-model="guest.comment" type="text" id="comment"></br>
<button type="button" ng-click="cancel()">cancel</button>
<button type="button" ng-click="update()">save</button>
