<div class="header">
    <h1>Guests</h1>
    <!--<button class="headerbutton" type="button" ng-click="addEvent()">+</button>-->
    <div class="linkcontainer">
        <a class="headerlink" href="#/events/{{ eventId }}">back to event</a>
        <a class="headerlink" href="#/events/{{ eventId }}/addGuest">add guest</a>
    </div>
</div>
<ul>
    <li data-ng-repeat="guest in guests | filter:{canceled:'false'}" class="guestlistelement">
        <p class="guestname">{{ guest.name }}</p>
        <p>Contribution: <i>{{ guest.contribution }}</i></p>
        <p><i>{{ guest.comment }}</i></p>
        <a href="#/events/{{ eventId }}/editGuest/{{ guest.id }}">edit</a>
    </li>
</ul>
