<div class="header">
    <h1>Guests</h1>
    <!--<button class="headerbutton" type="button" ng-click="addEvent()">+</button>-->
    <a class="headerlink" href="#/events/{{ eventId }}/addGuest">[+]</a>
    <a class="headerlink" href="#/events/{{ eventId }}">back to event</a>
</div>
<ul>
    <li data-ng-repeat="guest in guests">
        <p><i>name</i>: {{ guest.name }}</p>
        <p><i>contribution</i>: {{ guest.contribution }}</p>
        <p><i>comment</i>: {{ guest.comment }}</p>
        <a href="#/events/{{ eventId }}/editGuest/{{ guest.id }}">edit</a>
    </li>
</ul>