body {

}

.header{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #4527A0;
}

.header .linkcontainer{
    display: -webkit-flex;
    display: flex;
}

button.headerbutton{
    width: 5em;
    height: 5em;
}

h1 {
    color: white;
    padding-left: 0.5rem;
}

h3 {
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.headerlink{
    color:white;
    padding: 0.5rem
}

ul{
    list-style-type: none;
    padding-left: 0rem;
}

.eventlistelement{
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.2rem;
    border-style: groove
}

.guestlistelement{
    margin: 0.5rem;
    padding: 0.2rem;
    border-style: groove
}

.eventlistelement:hover>p{
    color: #aaaaaa;
}


p{
    margin-bottom: 0;
    margin-top: 0
}

label{
    font-weight: 500;
    font-style: italic;
}

input{
    width : 200px;
    margin-bottom: 0.5rem;
}