body {

}

.header{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #4527A0;
}

.header .linkcontainer{
    display: -webkit-flex;
    display: flex;
}

button.headerbutton{
    width: 5em;
    height: 5em;
}

h1 {
    color: white;
}

.headerlink{
    color:white;
    padding: 0.5rem
}

.eventlistelement{
    cursor: pointer;
}

.eventlistelement:hover>p{
    color: #aaaaaa;
}