body {

}

/**
 * Text styles
 */
p{
    margin-bottom: 0;
    margin-top: 0
}

h1 {
    color: white;
    padding-left: 0.5rem;
}

h3 {
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

label{
    font-weight: 500;
    font-style: italic;
}

/**
 * Lists
 */
ul{
    list-style-type: none;
    padding-left: 0rem;
}

/**
 * Header
 */
.header{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #4527A0;
}

.header .linkcontainer{
    display: -webkit-flex;
    display: flex;
}

.headerbutton{
    width: 5em;
    height: 5em;
}

.headerlink{
    color:white;
    padding: 0.5rem
}

/**
 * Event / Guest lists
 */
.eventlistelement{
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.2rem;
    border-style: groove
}

.eventlistelement > p {
    text-align: center;
    margin: 0.5rem 0;
}

.eventname {
    font-size: 1.5rem;
    font-weight: bold;
}

.guestlistelement{
    margin: 0.5rem 0;
    padding: 0.2rem 0;
    border-style: groove
}

.guestlistelement > p {
    text-align: center;
    margin: 0.5rem 0;
}

.guestname {
    font-size: 1.5rem;
    font-weight: bold;
}

.eventlistelement:hover > p{
    color: #aaaaaa;
}

/**
 * Event detail
 */
.eventdetails {
    text-align: center;
}

.eventdetailitem {
    padding: 0.2rem 0;
}

/**
 * Forms
 */
form {
    padding: 1rem;
}

.formitem {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.formitem > input {
    width: 100%;
    margin-bottom: 0.5rem;
}

.formitem > button {
    width: 100%;
}
