<h2>Event Details</h2>

<a href="#/events">back to overview</a>
<a href="#/editEvent/{{event.id}}">edit</a>

<p><i>id</i>: {{ event.id }}</p>
<p><i>name</i>: {{ event.name }}</p>
<p><i>description</i>: {{ event.description }}</p>
<p><i>targetGroup</i>: {{ event.targetGroup }}</p>
<p><i>contributionsDescription</i>: {{ event.contributionsDescription }}</p>
<p><i>location</i>: {{ event.location }}</p>
<p><i>starts</i>: {{ event.times.begin }}</p>
<p><i>ends</i>: {{ event.times.end }}</p>
<p><i>maximalAmountOfGuests</i>: {{ event.maximalAmountOfGuests }}</p>
