<div class="header">
    <h1>{{event.name}} ({{event.guests.length}} Guests)</h1>
    <div class="linkcontainer">
        <a class="headerlink" href="#/events">back to overview</a>
        <a class="headerlink" href="#/events/{{event.id}}/guests">show guests</a>
        <a class="headerlink" href="#/editEvent/{{event.id}}">edit</a>
    </div>
</div>
<h2>Event Details</h2>


<p><i>id</i>: {{ event.id }}</p>
<p><i>name</i>: {{ event.name }}</p>
<p><i>description</i>: {{ event.description }}</p>
<p><i>targetGroup</i>: {{ event.targetGroup }}</p>
<p><i>contributionsDescription</i>: {{ event.contributionsDescription }}</p>
<p><i>location</i>: {{ event.location }}</p>
<p><i>starts</i>: {{ event.times.begin }}</p>
<p><i>ends</i>: {{ event.times.end }}</p>
