<div class="header">
    <h1>{{event.name}} ({{(event.guests | filter:{canceled:'false'}).length}} Guests)</h1>
    <div class="linkcontainer">
        <a class="headerlink" href="#/events">back to overview</a>
        <a class="headerlink" href="#/events/{{event.id}}/guests">show guests</a>
        <a class="headerlink" href="#/editEvent/{{event.id}}">edit</a>
    </div>
</div>
<h3>Description:</h3>
<p>{{ event.description }}</p>
<h3>Target Group:</h3>
<p>{{ event.targetGroup }}</p>
<h3>Contributions Description:</h3>
<p>{{ event.contributionsDescription }}</p>
<h3>Location:</h3>
<p>{{ event.location.name }}</p>
<p>{{ event.location.street }}</p>
<p>{{ event.location.plz }}, {{ event.location.city }}</p>
<h3>Time:</h3>
<p><i>starts</i>: {{ event.times.begin }}</p>
<p><i>ends</i>: {{ event.times.end }}</p>
