<div class="header">
    <h1>Edit Event - {{event.name}}</h1>
    <a class="headerlink" href="#/events/{{ event.id }}">back to event</a>
</div>
</br>

<form>
    <div class="formitem">
        <label for="name">Name:</label><br />
        <input ng-model="event.name" type="text" id="name" required><br />
    </div>

    <div class="formitem">
        <label for="description">Description:</label><br />
        <input ng-model="event.description" type="text" id="description"><br />
    </div>

    <div class="formitem">
        <label for="targetGroup">Target group:</label><br />
        <input ng-model="event.targetGroup" type="text" id="targetGroup"><br />
    </div>

    <div class="formitem">
        <label for="contributionsDescription">Contributions description:</label><br />
        <input ng-model="event.contributionsDescription" type="text" id="contributionsDescription"><br />
    </div>

    <div class="formitem">
        <label for="locationname">Location name:</label><br />
        <input ng-model="event.location.name" type="text" id="locationname" required><br />
    </div>

    <div class="formitem">
        <label for="locationstreet">Location street:</label><br />
        <input ng-model="event.location.street" type="text" id="locationstreet"><br />
    </div>

    <div class="formitem">
        <label for="locationplz">Location PLZ:</label><br />
        <input ng-model="event.location.plz" type="number" id="locationplz"><br />
    </div>

    <div class="formitem">
        <label for="locationcity">Location city:</label><br />
        <input ng-model="event.location.city" type="text" id="locationcity"><br />
    </div>

    <div class="formitem">
        <label for="eventbegin">Event begin:</label><br />
        <input ng-model="event.times.begin" type="datetime-local" id="eventbegin" required><br />
    </div>

    <div class="formitem">
        <label for="eventend">Event end:</label><br />
        <input ng-model="event.times.end" type="datetime-local" id="eventend" required><br />
    </div>

    <div class="formitem">
        <button type="submit" ng-click="update()">Save</button>
    </div>
</form>
