<div class="header">
   <h1>Events</h1>
   <!--<button class="headerbutton" type="button" ng-click="addEvent()">+</button>-->
   <div class="linkcontainer">
      <a class="headerlink" href="#/addEvent">add event</a>
   </div>
</div>
<ul>
   <li data-ng-repeat="event in events" data-ng-click="loadDetail(event.id)" class="eventlistelement">
      <p class='date'>{{event.times.begin | date:medium }} - {{event.times.end | date:medium}}</p>
      <p class="eventname">{{event.name}}</p>
      <p>{{event.location.name}}</p>
      <p>{{event.location.street}}, {{event.location.plz}} {{event.location.city}}</p>
   </li>

</ul>
